#links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
    margin: 5px;
    gap: 10px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: -1;
    inset: 0px;
    margin: auto;
}

.adv_search {
    margin: 20px;
}

.search form {
    width: 50%;
    text-align: center;
}

.search input[type="text"] {
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.adv_search form {
    width: 80%;
    text-align: start;
}

.adv_search input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.labels {
    display: inline-block;
    width: 200px;
    margin: 5px;
}

.texts {
    display: inline-block;
    min-width: 200px;
    width: 50%;
}

.adv_submit {
    display: inline-block;
    width: 50%;
    margin-right: 0px;
    margin-left: auto;
}

#adv_submit {
    background-color: blue;
    color: white;
    float: right;
}

h1 {
    font-size: larger;
    margin: 5px;
}