#links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
    margin: 5px;
    gap: 10px;
}

#search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: -1;
    inset: 0px;
    margin: auto;
}

form {
    width: 50%;
    text-align: center;
}

input[type="text"] {
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}